.container {
    position: relative;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    height: 100%;
    padding: 0 1rem 3rem;
    min-height: 91.6dvh;
}
.container h1 {
    text-align: center;
}
.card div {
    max-width: 450px;
    gap: 2rem;
}
.card div h3 {
    padding-bottom: 1rem;
}
.card {
    display: flex;
    width: 100%;
    max-width: 1200px;
    background-color: var(--tertiary-color);
    border-radius: 1rem;
    padding: 1.5rem;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
}
.iframe {
    border: 2px solid var(--secondary-color);
    border-radius: 1rem;
    max-width: 560px;
    margin-top: 1rem;
    width: 100%;
    height: fit-content;
    aspect-ratio:  16 / 9 !important;
    object-fit: cover;
}
.img {
    border: var(--secondary-color) 2px solid;
    border-radius: 1rem;
    width: 100%;
    height: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
}
.media {
    display: flex;
    width: 100%;
    height: fit-content;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.button {
    margin-top: 1rem;
    padding: 0.7rem 1.5rem;
    background-color: var(--accent-color);
    color: white;
    font-weight: 600;
    border: none;
    border-radius: 15rem;
    cursor: pointer;
    text-decoration: none;
    transition: all 100ms ease;
}
.button:hover {
    background-color: var(--secondary-color);
    color: #fff;
}
.list {
    margin-top: 1rem;
    padding-left: 1.5rem;
    color: var(--font-color);
    font-size: 1rem;
    line-height: 1.5rem;
}
.list li {
    margin-bottom: 0.3rem;
    list-style-type: disc;
}
.titleList {
    margin-top: 1rem;
    margin-bottom: 0;
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--primary-color);
}
@media (max-width: 600px) {
    .card {
        flex-direction: column;
    }
}
/*Tablet*/
/*
<iframe width="1332" height="749" src="https://www.youtube.com/embed/dQw4w9WgXcQ" title="Rick Astley - Never Gonna Give You Up (Official Video) (4K Remaster)" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
*/