:root {
    --bg-image: url('../assets/img/background.png');
    --bg-image-mobile: url('../assets/img/background-mobile.png');
    --primary-color: #00152b;
    --secondary-color: #025e94;
    --tertiary-color: #ffffff;
    --quaternary-color: #000f4f;
    --header-color: rgba(244, 244, 244, 0.6);
    --navigation-bg-color: rgba(244, 244, 244, 0.884);
    --accent-color: #3498db;
    --font-primary: 'Montserrat', sans-serif;
    --font-secondary: 'Open Sans', sans-serif;
}
main .hero {
    text-wrap: balance;
    display: flex;
    position: relative;
    z-index: 1;
    backdrop-filter: blur(5px);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 4rem 2rem;
    width: 100%;
    height: auto;
    min-height: 100vh;
}
main .hero h1 {
    font-family: var(--font-primary);
    font-size: 5rem;
    color: var(--primary-color);
    margin-bottom: 1rem;
}
main .hero p {
    font-family: var(--font-secondary);
    font-size: 3rem;
    font-weight: 700;
    color: var(--quaternary-color);
    max-width: 750px;
}
main .hero p:nth-child(3) {
    font-size: 1.5rem;
    margin-top: 1rem;
    font-weight: 600;
    color: var(--primary-color);
}
.buttonIndex {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    gap: 2rem;
}
.buttonIndex .startButton {
    background-color: var(--secondary-color);
    color: var(--tertiary-color);
    padding: 1rem 2rem;
    border-radius: 9999px;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.2s ease;
}

.buttonIndex .startButton:hover,
.buttonIndex .learnButton:hover {
    background-color: var(--accent-color);
    color: var(--tertiary-color);
}

.buttonIndex .learnButton {
    background-color: var(--primary-color);
    color: var(--tertiary-color);
    padding: 1rem 2rem;
    border-radius: 9999px;
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.2s ease;
}
.menu-icon {
    gap: 7px;
    display: none;
    flex-direction: column;
    cursor: pointer;
    border: var(--primary-color) 2px solid;
    padding: 5px;
    border-radius: 5px;
}
.menu-icon .bar {
    width: 25px;
    height: 3px;
    background-color: var(--primary-color);
    transition: 0.4s;
    border-radius: 25px;
}

.about {
    background-color: #025e94;
    color: var(--tertiary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem 2rem;
    text-align: center;
    width: 100%;
    height: auto;
}
.about h2 {
    font-family: var(--font-primary);
    font-size: 3rem;
    margin-bottom: 1rem;
}
.about p {
    font-family: var(--font-secondary);
    font-size: 1.5rem;
    max-width: 800px;
    line-height: 1.6;
}
.service_header h2 {
    font-family: var(--font-primary);
    font-size: 3rem;
    margin-bottom: 2rem;
    text-align: center;
}
.service_header p {
    font-family: var(--font-secondary);
    font-size: 1.5rem;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto;
}
.services {
    background-color: var(--tertiary-color);
    color: var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem 2rem;
    text-align: center;
    width: 100%;
    height: auto;
    gap: 2rem;
}
.servicesContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    max-width: 1500px;
    width: 100%;
    height: auto;
}
.servicesCard {
    text-wrap: balance;
    background-color: var(--header-color);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    width: 350px;
    height: auto;
    transition: transform 0.3s ease;
}
.servicesCard img {
    display: inline-block;
    height: 150px;
    width: auto;
    object-fit: cover;
    width: auto;
    border-radius: 10px;
    margin-bottom: 1rem;
}
.servicesCard h3 {
    font-family: var(--font-primary);
    font-size: 1.5rem;
    margin-bottom: 1rem;
}
.servicesCard p {
    font-family: var(--font-secondary);
    font-size: 1rem;
    line-height: 1.4;
    font-weight: 600;
}
.servicesCard:hover {
    transform: scale(1.05);
}
