:root {
    --bg-image: url('../assets/img/background.png');
    --bg-image-mobile: url('/assets/img/background-mobile.png');
    --primary-color: #00152b;
    --secondary-color: #025e94;
    --tertiary-color: #ffffff;
    --quaternary-color: #000f4f;
    --header-color: rgba(244, 244, 244, 0.6);
    --navigation-bg-color: rgba(244, 244, 244, 0.884);
    --accent-color: #3498db;
    --font-primary: 'Montserrat', sans-serif;
    --font-secondary: 'Open Sans', sans-serif;
}
main {
    backdrop-filter: blur(5px);
    height: 100%;
    width: 100%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 3.5rem 0;
    gap: 2rem;
}
section.Content {
    width: 100%;
    max-width: 1500px;
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.banner_servises {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.card {
    text-align: center;
    font-size: 1.12rem;
}
article {
    display: flex;
    width: 350px;
    height: 630px;
    background-color: var(--tertiary-color);
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: #00152bd2 0px 3px 5px;
}
article img {
    width: 400px;
    height: auto;
}
article {
    display: flex;
    gap: 1.3rem;
    flex-direction: column;
    text-align: left;
    align-items: center;
    padding: 0 2.4rem ;
    font-weight: 600;
}
article .decription .button {
    text-align: center;
    padding: 9px 15px;
    color: var(--tertiary-color);
    background-color: #000f4f;
    border-radius: 99px;
    cursor: pointer;

    transition: color 100ms linear,
    background-color 100ms linear;
}
article .button:hover {
    background-color: var(--accent-color);
    color: var(--primary-color);
}
.button {
    margin: 5px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-weight: 600;
    font-size: 1.1rem;
    scroll-behavior: smooth;
    scrollbar-width: none;
    height: auto;
    border: none;
    text-align: center;
    padding: 9px 15px;
    color: var(--tertiary-color);
    background-color: #000f4f;
    border-radius: 99px;
    cursor: pointer;
    transition: color 100ms linear,
    background-color 100ms linear;
}
/* Responsive Styles */
